.adminIconsChild {
    height: 70px;
    width: 70px;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-saddlebrown);
  }
  .routeManagement {
    margin: 0;
  }
  .blankLine {
    margin: 0;
    font-size: var(--font-size-3xs);
  }
  .mapExistingRoutes {
    margin: 0;
    font-size: var(--font-size-3xl);
    color: var(--color-black);
  }
  .routeManagementMapContainer {
    align-self: stretch;
    height: 272px;
    position: relative;
    font-weight: 500;
    display: inline-block;
    flex-shrink: 0;
  }
  .adminIcons,
  .routeManagementMapExistingWrapper {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .routeManagementMapExistingWrapper {
    flex-direction: column;
    padding: var(--padding-6xs) 0 0;
    box-sizing: border-box;
    min-width: 194px;
  }
  .adminIcons {
    flex-direction: row;
    gap: var(--gap-15xl);
    min-width: 262px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-saddlebrown);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 450px) {
    .adminIcons {
      gap: var(--gap-mid);
      flex-wrap: wrap;
    }
  }