.frameChild {
    height: 698px;
    width: 1440px;
    position: relative;
    background-color: var(--color-tomato-100);
    display: none;
    max-width: 100%;
  }
  .anAutomatedBus,
  .dtcOptimus {
    margin: 0;
  }
  .dtcOptimusContainer {
    align-self: stretch;
    position: relative;
    z-index: 1;
  }
  .ourApplicationIs {
    width: 510px;
    height: 352px;
    position: relative;
    font-size: var(--font-size-xl);
    font-family: var(--font-jomolhari);
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 1;
  }
  .solutionInfo {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-4xl);
    max-width: 100%;
  }
  .buttonBackground {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--color-gray-100);
    width: 180px;
    height: 47px;
    z-index: 1;
  }
  .loginRegister {
    position: absolute;
    top: 11px;
    left: 10px;
    display: inline-block;
    width: 179px;
    height: 25px;
    z-index: 2;
  }
  .callToAction {
    width: 189px;
    height: 47px;
    position: relative;
    font-size: var(--font-size-3xl);
  }
  .contentDescription,
  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .description {
    align-self: stretch;
    gap: var(--gap-18xl);
  }
  .contentDescription {
    width: 561px;
    padding: var(--padding-base) 0 0;
    box-sizing: border-box;
    min-width: 561px;
  }
  .delhi1Icon {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 404px;
    max-height: 100%;
    width: 366px;
    object-fit: cover;
    z-index: 1;
  }
  .bus1Icon,
  .dtcDelhiTransportCorporati {
    position: absolute;
    top: 6px;
    left: 0;
    width: 406px;
    height: 381px;
    object-fit: cover;
    z-index: 2;
  }
  .dtcDelhiTransportCorporati {
    top: 381px;
    left: 2px;
    width: 402px;
    height: 262px;
    z-index: 3;
  }
  .tags {
    height: 643px;
    width: 770px;
    position: relative;
    min-width: 770px;
    max-width: 100%;
  }
  .rectangleParent {
    align-self: stretch;
    background-color: var(--color-tomato-100);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xl) var(--padding-19xl) var(--padding-6xl);
    box-sizing: border-box;
    gap: var(--gap-2xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-17xl);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 1350px) {
    .contentDescription,
    .tags {
      flex: 1;
    }
    .rectangleParent {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1150px) {
    .tags {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 800px) {
    .dtcOptimusContainer {
      font-size: var(--font-size-10xl);
    }
    .description {
      gap: var(--gap-lg);
    }
    .contentDescription {
      min-width: 100%;
    }
    .rectangleParent {
      padding-top: var(--padding-xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .dtcOptimusContainer {
      font-size: var(--font-size-3xl);
    }
    .ourApplicationIs {
      font-size: var(--font-size-base);
    }
    .loginRegister {
      font-size: var(--font-size-lg);
    }
  }