.logoIcon,
.navbar1 {
  position: relative;
  max-width: 100%;
}
.navbar1 {
  height: 124px;
  width: 1440px;
  background-color: var(--color-gray-100);
  display: none;
}
.logoIcon {
  align-self: stretch;
  height: 34px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.logoWrapper {
  width: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.signinSignup {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  z-index: 1;
}
.authButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-smi) 0 0;
}
.doNotDisturbIos,
.mapMarkerIcon {
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.mapMarkerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.managementIcon {
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.managementWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.controlPanelIcon {
  width: 48px;
  height: 48px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 1;
}
.controlPanelWrapper,
.navbar,
.userOptions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.controlPanelWrapper {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.navbar,
.userOptions {
  flex-direction: row;
  gap: var(--gap-30xl);
  max-width: 100%;
}
.navbar {
  align-self: stretch;
  background-color: var(--color-gray-100);
  justify-content: space-between;
  padding: var(--padding-19xl) var(--padding-39xl) var(--padding-16xl)
    var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 800px) {
  .userOptions {
    gap: var(--gap-5xl);
    flex-wrap: wrap;
  }
  .navbar {
    flex-wrap: wrap;
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .signinSignup {
    font-size: var(--font-size-lgi);
  }
}